* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
}

nav {
  height: 70px;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(121,9,9,1) 51%, rgba(0,0,0,1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 0 10px;
}

#logo {
  height: 50px;
}

#movie-filter, #tv-filter {
  width: 200px;
  height: 30px;
  border: none;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
}

#title {
  width: 200px;
  height: 30px;
  line-height: 30px;
  border: none;
  outline: none;
  padding-left: 10px;
  border-radius: 5px;
}

#title-search {
  padding: 7px 10px;
  background-color: rgb(154, 102, 93);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
}

main {
  background-color: black;
  height: calc(100% - 70px);
  min-height: calc(100vh);
  margin-top: 70px;
}

.movie-ctr-film, .movie-ctr-tv {
  display: flex;
  flex-wrap: wrap;
}

.titolo-txt, .language-txt, .original-txt, .language-txt, .vote-txt, .details {
  color: red;
  padding-left: 5px;
  padding-bottom: 5px;
}

.type {
  padding-left: 5px;
}

.overlay span {
  color: black;
}

main h2 {
  color: white;
  margin: 12px;
}

.movie {
  position: relative;
  height: 513px;
  width: 342px;
  margin-top: 10px;
  margin-left: 10px;
}

.movie .overlay {
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.movie .overlay:hover {
  background-color: white;
  opacity: 0.9;
  cursor: pointer
}

.titolo {
  padding-top: 10px;
}

.flag {
  height: 10px;
  width: auto;
}

.type {
  padding-top: 20px;
}

.trama {
  padding-top: 50px;
  padding-left: 5px;
}

.no-result {
  color: white;
  padding-left: 10px;
}
